{% import "macros/ui.html" as ui %}
<section class="about" id="about" data-section="about">
  <div class="container about__grid">
    <div class="about__visual" data-reveal-mask>
      <div class="about__frame">
        <div class="swatch swatch--2 about__swatch" data-tilt>
          <div class="swatch__sheen"></div>
          <img class="swatch__image"
            src="https://scontent-del3-1.cdninstagram.com/v/t51.82787-15/686895477_18079042007313489_660301350284755897_n.heic?stp=dst-jpg_e35_tt6&_nc_cat=106&ig_cache_key=Mzg4OTY2MDEyNDQ2MTY0MDUxMA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6IkNBUk9VU0VMX0lURU0ueHBpZHMuMTQ0MC5zZHIucmVndWxhcl9waG90by5DMyJ9&_nc_ohc=6yPOwWPPkgwQ7kNvwEoYUkC&_nc_oc=AdpqII2rRojm3Vv40evVVSaaEa7Hxf_hjZwqJqWT0rqNJ1AoR9eV0GmbV4EjmiDYIPPSx4EUcgcjGj0QF_mQzyAw&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-del3-1.cdninstagram.com&_nc_gid=KBw0UubXr77VgADMaEpc6w&_nc_ss=7a22e&oh=00_AQBGobCopoa0YaagGdK10IqS9Cy6PhNddGgiB10-k8Gr7w&oe=6A53F2BF"
            alt=""
          />
        </div>
        <div class="about__frame-thread"></div>
      </div>
      <div class="about__quote-card" data-reveal>
        <i class="fa-solid fa-quote-left"></i>
        <p>{{ content.homepage.about.pull_quote }}</p>
        <span>&mdash; {{ content.homepage.about.signature_name }}</span>
      </div>
    </div>

    <div class="about__copy">
      <span class="eyebrow" data-reveal
        ><i class="fa-solid fa-minus"></i> {{ content.homepage.about.eyebrow
        }}</span
      >
      <h2 class="section-title" data-reveal>
        {{ content.homepage.about.title }}
      </h2>
      <p class="about__body" data-reveal>{{ content.homepage.about.body }}</p>

      <div class="about__points">
        {% for p in content.homepage.about.points %}
        <div class="about__point" data-reveal>
          <span class="about__point-num">0{{ loop.index }}</span>
          <div>
            <h4>{{ p.title }}</h4>
            <p>{{ p.detail }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
