{% import "macros/ui.html" as ui %}
<section class="offers" id="offers" data-section="offers">
  <div class="container">
    {{ ui.section_header(content.offers.section.eyebrow, content.offers.section.title, content.offers.section.subtitle) }}
    <div class="offers__grid">
      {% for o in content.offers.offers %}
      <div class="offer-card" data-reveal>
        <span class="offer-card__tag">{{ o.tag }}</span>
        <h4>{{ o.title }}</h4>
        <p>{{ o.detail }}</p>
        <span class="offer-card__expiry"><i class="fa-regular fa-clock"></i> Valid till {{ o.expires }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
