{% extends "base.html" %}
{% block content %}
{% include "sections/hero.html" %}
{% include "sections/about.html" %}
{% include "sections/stats.html" %}
<!-- {% include "sections/services.html" %} -->
{% include "sections/why_choose.html" %}
<!-- {% include "sections/bridal.html" %} -->
{% include "sections/gallery.html" %}
<!-- {% include "sections/before_after.html" %} -->
<!-- {% include "sections/pricing.html" %} -->
<!-- {% include "sections/offers.html" %} -->
{% include "sections/testimonials.html" %}
{% include "sections/team.html" %}
<!-- {% include "sections/blog.html" %} -->
{% include "sections/instagram.html" %}
<!-- {% include "sections/reviews.html" %} -->
{% include "sections/faq.html" %}
{% include "sections/booking.html" %}
<!-- {% include "sections/contact.html" %} -->
<!-- {% include "sections/newsletter.html" %} -->
{% endblock %}
